/* CSS Document */

body{
	background:url(../img/1.png);
}

#principal{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width:100%;
}
#principal3{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	min-height:160px;
	padding-top:50px;
}

#indexBox1{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	min-height:180px;
	/*background-color:#3C0;*/
}

#carrousel{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	min-height:760px;
}

#indexBox2{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	min-height:160px;
	background-image:url(../img/papel.jpg);
}

	#emailLogin{
		filter: alpha(opacity=80);
		opacity: 0.8;
	}
	
	#senhaLogin{
		filter: alpha(opacity=80);
		opacity: 0.8;
	}
	#emailCad{
		filter: alpha(opacity=80);
		opacity: 0.8;
	}
	#senhaCad{
		filter: alpha(opacity=80);
		opacity: 0.8;
	}
	#nomeCad{
		filter: alpha(opacity=80);
		opacity: 0.8;
	}
	#apelidoCad{
		filter: alpha(opacity=80);
		opacity: 0.8;
	}
	#sexoMas{
		filter: alpha(opacity=80);
		opacity: 0.8;
	}
	#sexoFem{
		filter: alpha(opacity=80);
		opacity: 0.8;
	}
	
	
	
p{
	color:#999;
}

#painel{
	background-color:#6F3;
	min-height:300px;
	width:90%;
	margin-left: auto;
	margin-right: auto;	
	overflow:hidden;
	position:relative;
}

#painel2{
	background-color:#6F3;
	min-height:300px;
	width:90%;
	margin-top:500px;
	margin-left: auto;
	margin-right: auto;	
	overflow:hidden;
	position:relative;
}

.nota{
	background-color:#FF6;
	min-height:160px;
	width:70%;
	margin-left: auto;
	margin-right: auto;	
	text-align:center;
	padding-top:20px;
	margin-top:10px;
}

.notaSidenav{
	background-color:#6C6;
	min-height:100px;
	width:70%;
	margin-left: auto;
	margin-right: auto;	
	text-align:center;
	padding-top:20px;
	margin-top:10px;
	font-family:"Comic Sans MS", cursive;
	font-weight:bold;
}

.notaSidenav1{
	background-color:#FF6;
	min-height:100px;
	width:70%;
	margin-left: auto;
	margin-right: auto;	
	text-align:center;
	padding-top:20px;
	margin-top:10px;
	font-family:"Comic Sans MS", cursive;
	font-weight:bold;
}

.notaSidenav2{
	background-color:#3CF;
	min-height:100px;
	width:70%;
	margin-left: auto;
	margin-right: auto;	
	text-align:center;
	padding-top:20px;
	margin-top:10px;
	font-family:"Comic Sans MS", cursive;
	font-weight:bold;
}

.notaSidenav3{
	background-color:#C6F;
	min-height:100px;
	width:70%;
	margin-left: auto;
	margin-right: auto;	
	text-align:center;
	padding-top:20px;
	margin-top:10px;
	font-family:"Comic Sans MS", cursive;
	font-weight:bold;
}

#indexLogin{
	min-height:500px;
	width:80%;
	margin-left: auto;
	margin-right: auto;	
	text-align:center;
	margin-top:10px;
	background-image:url(../img/papel.jpg);
}

#indexLogin2{
	min-height:500px;
	width:80%;
	margin-left: auto;
	margin-right: auto;	
	text-align:center;
	margin-top:10px;
	background-image:url(../img/papel2.jpg);
}


.indexSegundo{
	background-color:#FF6;
	min-height:160px;
	width:80%;
	min-height:550px;
	margin-left: auto;
	margin-right: auto;	
	text-align:center;
	margin-top:10px;
}

#desc{
	color:#FFF;
}

#footer {
	background-color:#666;
	min-height:60px;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	
}

/*--------------------------SideNav---------------------------------*/
 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    /*background-color: #FF3; /* Black*/
	background-image:url(../img/background.jpg);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
	color:#C30;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#imgUsu{
	min-height:240px;
	width:80%;
	margin-left: auto;
	margin-right: auto;	
	text-align:center;
	margin-top:10px;
	background-image:url(../img/teste.jpg);
	}
	
#categoriasSide{
	min-height:100px;
	width:80%;
	margin-left: auto;
	margin-right: auto;	
	text-align:center;
	margin-top:10px;
	
	}
	
	#nomeCategoria{
	margin-left: auto;
	margin-right: auto;	
	text-align:center;
	margin-top:10px;
	font-family:"Comic Sans MS", cursive;
	font-weight:800;
	}

