/* CSS Document */

body{
	background:url(../img/back.jpg);
}

#principal{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width:100%;
}
#principal3{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	min-height:160px;
	padding-top:50px;
}

#indexBox1{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	min-height:180px;
	/*background-color:#3C0;*/
}

#carrousel{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	min-height:760px;
}

#indexBox2{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	min-height:160px;
	background-image:url(../img/papel.jpg);
}


p{
	color:#999;
}

#painel{
	background-color:#6F3;
	min-height:300px;
	width:90%;
	margin-left: auto;
	margin-right: auto;	
	overflow:hidden;
	position:relative;
}

#painel2{
	background-color:#6F3;
	min-height:300px;
	width:90%;
	margin-top:500px;
	margin-left: auto;
	margin-right: auto;	
	overflow:hidden;
	position:relative;
}

.nota{
	background-color:#FF6;
	min-height:160px;
	width:70%;
	margin-left: auto;
	margin-right: auto;	
	text-align:center;
	padding-top:20px;
	margin-top:10px;
}

#indexLogin{
	min-height:500px;
	width:80%;
	margin-left: auto;
	margin-right: auto;	
	text-align:center;
	margin-top:10px;
	background-image:url(../img/papel.jpg);
}

#indexLogin2{
	min-height:500px;
	width:80%;
	margin-left: auto;
	margin-right: auto;	
	text-align:center;
	margin-top:10px;
	background-image:url(../img/papel2.jpg);
}

.indexSegundo{
	background-color:#FF6;
	min-height:160px;
	width:80%;
	min-height:550px;
	margin-left: auto;
	margin-right: auto;	
	text-align:center;
	margin-top:10px;
}

#desc{
	color:#FFF;
}

#footer {
	background-color:#666;
	min-height:60px;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	
}
